
<div class="banner1">
  <img src="/assets/logo-3439da4dfd25a270a5cae3b80f3f363bbfe975055bf22c5f99b459930dbd7b87.png" style="display: block; margin: 0 auto;">
</div>

<div class="mestre">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs1">
      <%= f.input :first_name,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "first name" }%>
      <%= f.input :last_name,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "last name" }%>
      <%= f.input :age,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "age" }%>
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" }%>
      <%= f.input :address,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "address" }%>
      <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password" } %>
    </div>


<div class="container" id="special">
  <div class="row" style="text-align: center;">
    <div class="form-actions3 col-12">
      <%= f.button :submit, "Sign up" %>
    </div>
  </div>
</div>

  <% end %>
<div>
</div>
