<div class="banner d-flex justify-content-center align-items-center mt-3">
   <%= image_tag "market-logo.png", class: "banner-img" %>
    <h1 class="mb-0">My groceries</h1>
</div>

<div class="container mt-3" style="position: relative; left:30px;">
  <%= form_tag products_path, class: "inline-form", method: :get do %>
  <div class="search-bar">
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a product"
      %>
  </div>
  <div>
    <%= submit_tag "Search", class: "btn btn-light form-button"%>
  </div>
    <% end %>
</div>

<div class="container">
  <div class="cards mt-5">
    <% @products.each do |product| %>
      <%= link_to product_path(product), class: "card-button" do %>
        <div class="card-trip" style="border-radius: 20px;">
          <div class="card-trip-infos">
            <%= image_tag "https://static-images.ifood.com.br/image/upload/t_high/pratos/aba5c8cc-1b82-4f80-8bc5-ef079a22fd0b/20220126133849_181478.jpg", class: "card-img" %>
            <h3 class="card-trip-pricing mt-2">R$<%= product.price %></h3>
            <h2 class="card-text"><%= product.name %></h2>
            <h6><%= product.market %></h6>
            <h6><%= product.address %></h6>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
