<div class="banner-index" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('<%= image_path "banner.jpg" %>');">
  <div class="container">
    <h1>Find the best prices with a <strong>CLICK!</strong></h1>
    <div class="container mt-1 p-0 w-75 ms-0">
      <%= form_tag products_path, class: "inline-form", method: :get do %>
        <div class="search-bar">
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            style: "height: 42px;"
            %>
        </div>
          <%= button_tag(type: "submit", class: "btn btn-default", style: "margin-left: 165px; position: relative;left: -186px;") do %>
            <i class="fas fa-search"></i>
          <% end %>
        <div>
        </div>
      <% end %>
    </div>
  </div>
</div>



<div class="container-index mx-auto">
  <div class="cards mt-5">
    <% @products.each do |product| %>
      <%= link_to product_path(product) do %>
        <div class="card-trip x" style="border-radius: 6px">
          <div class="card-trip-infos">
            <%= image_tag product.image_url, class: "card-img" %>
              <div class="index-name-height mt-1">
                <p><%= product.name %></p>
              </div>
            <h2 class="index-price mx-auto">R<%= humanized_money_with_symbol(product.price) %></h2>
            <img src=<%= product.market_image_url %> class="card-trip-user avatar-bordered mt-1" />
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="mt-5 d-flex justify-content-center align-items-center">
    <%== pagy_bootstrap_nav(@pagy) %>
  </div>
</div>
