<div class="container mt-5">
  <div class="card-product">
    <img src=<%= "#{@product.image_url}" %> class="m-3 card-product-img"/>
    <img src=<%= @product.market_image_url %> class="market-img-show avatar-bordered mt-1" />
    <div class="card-product-infos d-flex flex-column">
      <h2 class="product-name m-2"><%= @product.name %></h2>
      <div class="product-info d-flex align-items-center justify-content-center">
        <p>📍 <strong><%= @product.address %></strong></p>
      </div>
      <div class="best-offer d-flex flex-column justify-content-center align-items-center m-2">
        <div class="d-flex">
          <h2 class="text-center">💰 R$ <%= @product.price %></h2>
        </div>
        <div class="d-flex align-items-center add-to-cart-button">
          <%= link_to lines_path(:product_id => @product.id), :method => :post do %>
            <p>Add to cart</p>
            <i class="fas fa-cart-plus cart-icon-show" style="font-size: 40px;margin-top: 17px;"></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class=" d-flex">
  <div class="product-sugestions d-flex flex-column ">
    <% @products_similar.each do |product| %>
      <%= link_to product_path(product), class: "card-button" do %>
      <div class="similar mb-3">
        <div class="row align-items-center">
          <div class="col-2">
            <img src=<%= product.market_image_url%> alt="market image" class="market-logo m-2">
          </div>
          <div class="col-7">
            <h2 class="text-center justify-content-center" style="color: black; font-size: 25px;"><%= product.name %></h2>
          </div>
          <div class="col-3">
            <h3 class="margin-price my-auto">R<%= humanized_money_with_symbol(product.price) %></h3>
          </div>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>

  <div class="map map-div"
  data-controller="mapbox"
  data-mapbox-marker-value="<%= @marker.to_json %>"
  data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>
</div>
