
<div class="container mt-5">
  <div class="card-product">
    <img src=<%= "#{@product.image_url}" %> class="img-product m-3"/>
    <%= link_to lines_path(:product_id => @product.id), :method => :post do %>
      <i class="fas fa-cart-plus cart-icon"></i>
    <% end %>
    <div class="card-product-infos">
      <div>
        <h2 class="product-name m-2"><%= @product.name %></h2>
      </div>
      <div class="d-flex">
        <div class="product-info m-2">
          <p><strong><%= @product.market %></strong></p>
          <p><strong><%= @product.address %></strong></p>
        </div>
        <div class="best-offer d-flex flex-column justify-content-center align-items-center m-2">
          <h2 class="text-center">Current offer: R$<%= @product.price %></h2>
          <%= link_to lines_path(:product_id => @product.id), :method => :post do %>
            <i class="fas fa-cart-plus" style="font-size: 40px;margin-top: 10px;"></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class=" d-flex">
  <div class="product-sugestions d-flex flex-column ">
    <% @products_similar.each do |product| %>
      <%= link_to product_path(product), class: "card-button" do %>
      <div class="similar mb-3">
        <div class="row align-items-center">
          <div class="col-2">
            <img src=<%= product.market_image_url%> alt="market image" class="market-logo m-2">
          </div>
          <div class="col-7">
            <h2 class="text-center justify-content-center" style="color: black; font-size: 25px;"><%= product.name %></h2>
          </div>
          <div class="col-3">
            <h3 class="margin-price my-auto"> <%= humanized_money_with_symbol(product.price) %></h3>
          </div>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>

  <div class="map map-div"
  data-controller="mapbox"
  data-mapbox-marker-value="<%= @marker.to_json %>"
  data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>
</div>
