<div class="banner d-flex justify-content-center align-items-center mt-3 mx-auto">
   <%= image_tag "market-logo.png", class: "banner-img" %>
    <h1 class="mb-0">My groceries</h1>
</div>

<div class="container mt-3" style="position: relative; left:30px;">
  <%= form_tag products_path, class: "inline-form", method: :get do %>
  <div class="search-bar">
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a product"
      %>
  </div>
  <div>
    <%= submit_tag "Search", class: "btn btn-light form-button"%>
  </div>
    <% end %>
</div>

<div class="container mt-5">
  <div class="card-product">
    <img src=<%= "#{@product.image_url}" %> class="img-product m-3"/>
    <div class="card-product-infos">
      <div>
        <h2 class="product-name m-2"><%= @product.name %></h2>
      </div>
      <div class="d-flex">
        <div class="product-info m-2">
          <p><strong>Market name:</strong> <%= @product.market %></p>
          <p><strong>Market address:</strong> <%= @product.address %></p>
        </div>
        <div class="best-offer d-flex flex-column justify-content-center align-items-center m-2">
          <h2 class="text-center">Current offer: R$<%= @product.price %></h2>
            <%= button_to "Add to cart", lines_path(:product_id => @product.id, :method => :post), class: "add-to-cart" %>
        </div>
      </div>
    </div>
  </div>

  <div class=" d-flex">
  <div class="product-sugestions d-flex flex-column ">
    <% @products_similar.each do |product| %>
      <%= link_to product_path(product), class: "card-button flex-fill" do %>
      <div class="similar m-2 d-flex">
          <img src=<%= product.market_image_url%> alt="market image" class="market-logo m-2">
          <h2 class="mx-2 my-auto" style="color:#7858A6"><%= product.name %></h2>
          <h3 class="margin-price my-auto"> R$<%= product.price %></h3>
      </div>
      <% end %>
    <% end %>
  </div>

  <div class="map map-div"
  data-controller="mapbox"
  data-mapbox-marker-value="<%= @marker.to_json %>"
  data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>
</div>
